* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
}

/* Header css */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 30px;



}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner section */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-title {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 116px;
    margin-bottom: 25px;
    color:#131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner-btn {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border: 0px white;
    carsor:pointer;
}

.banner-image{
    border-radius: 8px;
    width: 100%;
}
/* resposive media quaries for header */

/* responsive to mobile devices */
@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
/* responsive to tablet devices */
@media screen and (max-width:960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}

/* main body section */
/*  freatures section*/